* {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(219, 216, 216);
}

header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 95%;
}

.right-items {
    display: flex;
    align-items: center;
}

.right-item {
    margin-right: 20px;
}

.left-item, .right-item, .right-items {
    background: white;
    border-radius: 10px;
}

p {
    font-size: xx-large;
    font-weight: bold;
    color: blue;
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
   }

.editUserProfile {
    background: white;
    color: blue;
    text-decoration: none;
}

#editUserProfile {
    background: white;
}

.editUserProfile:hover {
    text-shadow: 0 0 5px black;
}

#signOutButton {
    background: blue;
    border-radius: 5px;
    border: none;
    padding: 10px 15px 10px 15px;
    color: white;
    font-weight: bold;
    font-size: large;
}

header input:hover {
     box-shadow: 0 0 5px black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard, .channels, .channel {
    background: white;
    width: 50%;
    max-width: 900px;
    border-radius: 10px;
}

.userCard {
    padding: 20px;
}

.space {
    margin-left: 4px;
}

.space, .space2, .username{
    background: white;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}

.fullName {
    background: white;
    color: blue;
    padding: 0;
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
}

div div {
    background: white;
    width: 97%;
    max-width: 890px;
    margin-bottom: 0;
    padding: 0;
}

span {
    color: black;
    background: white;
    padding-bottom: 4px;
    margin-bottom: 0;
    margin-top: 0;
}

.newChannel {
    background: white;
    color: white;
}

#newChannel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    text-decoration: none;
    margin-top: 0;
    background: white;
    color: white;
}

#newChannel button, #newChannel button i {
    background: blue;
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
}

#newChannel button {
    padding: 10px 15px 10px 10px;
    margin-top: 0;
}

#newChannel button i {
    margin-right: 7px;
}

#newChannel button:hover {
    box-shadow: 0 0 5px black;
}

.channels {
    margin-top: 10px;
}

.channels, .channel {
    margin-bottom: 0;
    padding: 5px;
}

#channelInfo {
    margin-top: 0;
    background: white;
}
