<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Dashboard</title>
    <link href="/dashboard.css" type="text/css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/38d88a400f.js" crossorigin="anonymous"></script>
</head>

<header>
    <div class="left-item"><p id="users">Welcome to ChatApp, [[${user.name}]]!</p></div>
    <div class="right-items">
        <div class="right-item"><a class="editUserProfile" th:href="@{/user/{userId}/settings(userId=${user.userId})}"><i id="editUserProfile" class="fa-regular fa-user fa-xl"></i></a></div>
        <div class="right-item"><input type="button" value="Sign Out" id="signOutButton"/></div>
    </div>
</header>

<input type="hidden" id="userId" th:value="${user.userId}" />
<input type="hidden" id="user.username" th:value="${user.username}" />
<input type="hidden" id="user.name" th:value="${user.name}" />

<body>
<div class="userCard">
    <div class="container">
        <a class="fullName" th:text="${user.name}"></a> <a class="space">(</a><a id="username" th:text="${user.username}"></a><a class="space2">)</a>
    </div>
    <hr/>
    <div class="createChannel">
        <input type="text" id="channelName" placeholder="Enter channel name" />
        <button id="createChannelButton">Create Channel</button>
    </div>
    <div class="channels">Channels:</div>
<!--    <div class="channel" th:each="channel : ${user.channels}" th:if="${channel.channelName != ''}">-->
        <span>
<!--            <select id="channelSelect" onchange="fetchMessages()">-->
            <select id="channelSelect" onchange="fetchChannels()">
                <option id="channelDrop" value="">Select a Channel</option>
                <option th:each="channel : ${user.channels}" th:text="${channel.channelName}" th:value="${channel.channelId}"></option>
            </select>
            <button id="openChannelButton" onclick="openChannel()">Open</button>
        </span>
    </div>
</div>

<script type="text/javascript" src="/dashboard.js"></script>
</body>
</html>

