<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Dashboard</title>
    <link href="/uRead.css" type="text/css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/38d88a400f.js" crossorigin="anonymous"></script>
</head>

<header>
    <div class="left-item"><p id="users">Welcome to ChatApp, [[${user.name}]]!</p></div>
    <div class="right-items">
        <div class="right-item"><a class="editUserProfile" th:href="@{/user/{userId}/update(userId=${user.userId})}"><i id="editUserProfile" class="fa-regular fa-user fa-xl"></i></a></div>
        <div class="right-item"><input type="button" value="Sign Out" id="signOutButton"/></div>
    </div>
</header>

<body>
<div class="userCard">
    <div class="container">
        <a class="fullName" th:text="${user.name}"></a> <a class="space">(</a><a id="username" th:text="${user.username}"></a><a class="space2">)</a>
    </div>
    <hr/>
    <div class="newChannel">
        <br>
        <a id="newChannel" th:href="@{/register}">
            <button type="submit">
                <i class="fa-solid fa-circle-plus fa-md" style="color: white;"></i> New Channel
            </button>
        </a>
    </div>
    <div class="createChannel">
        <input type="text" id="channelName" placeholder="Enter channel name" />
        <button id="createChannelButton">Create Channel</button>
    </div>
    <div class="channels">Channels:</div>
    <div class="channel" th:each="channel : ${user.channels}" th:if="${channel.channelName != ''}">
        <span>
            <select id="channelSelect" onchange="fetchMessages()">
                <option id="channelDrop" value="">Select a Channel</option>
                <!-- Channel options will be populated here -->
            </select>
            <a id="channelInfo" th:href="@{/user/{userId}/channel/{channelId}(userId=${user.userId}, channelId=${channel.channelId})}">[[${channel.channelName}]]</a>
        </span>
    </div>
</div>

<script type="text/javascript" src="/uRead.js"></script>
</body>
</html>

