<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Create User</title>
    <link href="/register.css" type="text/css" rel="stylesheet" />
</head>

<body>

<form action="" method="post">
    <h1>ChatApp</h1>
    <h2>Create a new account</h2>
    <h4>It’s quick and easy.</h4>
    <div>
        Username:
    </div>
    <span>
        <input type="text" id="username" th:field="${user.username}"/>
    </span>
    <div>
        Password:
    </div>
    <span>
        <input type="password" id="password" th:field="${user.password}"/>
    </span>
    <div>
        Full Name:
    </div>
    <span>
        <input type="text" id="fullName" th:field="${user.name}"/>
    </span>
    <div class="buttons">
        <div>
            <input type="submit" id="createUserButton" value="Sign Up"/>
        </div>
        <div>
            <input type="button" value="Already have an account?" id="goToLogIn"/>
        </div>
    </div>
</form>
<script type="text/javascript" src="/register.js"></script>
</body>
</html>